name: Mirror to finanza2026

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Push to mirror repo
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git push https://${{ secrets.MIRROR_TOKEN }}@github.com/gillemosai/finanza2026.git main --force
